*.pyc
*~
.DS_Store
.project
.pydevproject
data/
\.ipynb_checkpoints
\.settings
*.npz
doc/_build/
image_window.ui.oA7156
.idea/
*.h5
log.out
build
dist
*.autosave
*.mat
ScopeFoundry/ScopeFoundry.egg-info
ScopeFoundry/__pycache__/
supra_cl/log/
supra_cl/cl_mirror_positioner/log/
ScopeFoundryHW/andor_camera/log/
trpl_microscope/log/
plimg_microscope/log/
ScopeFoundryHW/thorlabs_stepper_motors/log/
ir_microscope/log/
ScopeFoundry/tests/log
laser_scribe_microscope/log/
