*.pyc
*~
.DS_Store
.project
.pydevproject
data/
\.ipynb_checkpoints
\.settings
*.npz
doc/_build/
image_window.ui.oA7156
.idea/
*.h5
log.out
build
dist
*.autosave
*.mat
ScopeFoundry/ScopeFoundry.egg-info
ScopeFoundry/__pycache__/
trpl_microscope/log/
plimg_microscope/log/
ir_microscope/log/
ScopeFoundryHW/xbox_controller/log/ScopeFoundry_log_180410_121913.txt
ScopeFoundryHW/xbox_controller/log/ScopeFoundry_log_180410_120523.txt
ScopeFoundryHW/thorlabs_stepper_motors/log/thorlab_stepper_test_app_log_180306_131207.txt
ScopeFoundryHW/princeton_omaV/OMAV InGaAs System Manual.pdf
ScopeFoundryHW/powermate/log/ScopeFoundry_log_180323_151332.txt
ScopeFoundryHW/powermate/log/ScopeFoundry_log_180323_132928.txt
ScopeFoundryHW/powermate/log/ScopeFoundry_log_180323_132917.txt
ir_microscope/asd.ini
